.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: darkblue;
    color: white;
}
.logo{
    font-size: 40px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links li{
    cursor: pointer;
}
.nav-links li:hover{
    color: brown;
}
.nav-links a{
    text-decoration: none;
    color: inherit;
}